<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
        <script src="charmangular.js"></script>
    </head>
    <body ng-app='myApp'>
        <div ng-controller="PostIndexCtrl">
            <input type="number" ng-model="id"/>
            <p>#{{ id }}</p>
            <input type="submit" ng-model="submit" ng-click="getPokemonByID()"/>
            <p>{{ name }}</p>
            <p><img src="{{ normal }}"/></p>
            <p><img src="{{ shiny }}"/></p>
        </div>
    </body>
</html>